<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>task</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>serv</display-name>
    <servlet-name>serv</servlet-name>
    <servlet-class>taskpack.serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serv</servlet-name>
    <url-pattern>/serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentservlet</display-name>
    <servlet-name>studentservlet</servlet-name>
    <servlet-class>taskpack.studentservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentservlet</servlet-name>
    <url-pattern>/studentservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>departmentservlet</display-name>
    <servlet-name>departmentservlet</servlet-name>
    <servlet-class>taskpack.departmentservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>departmentservlet</servlet-name>
    <url-pattern>/departmentservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deptsample</display-name>
    <servlet-name>deptsample</servlet-name>
    <servlet-class>taskpack.deptsample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deptsample</servlet-name>
    <url-pattern>/deptsample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>stdsample</display-name>
    <servlet-name>stdsample</servlet-name>
    <servlet-class>taskpack.stdsample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stdsample</servlet-name>
    <url-pattern>/stdsample</url-pattern>
  </servlet-mapping>
</web-app>